$icomoon-font-family: "iconfont-mmgy" !default;
$icomoon-font-path: "fonts" !default;

$icon-form: "\e928";
$icon-newspaper: "\e929";
$icon-traveler: "\e922";
$icon-signpost: "\e925";
$icon-beach: "\e926";
$icon-suitcase: "\e927";
$icon-eye: "\e921";
$icon-check: "\e916";
$icon-reset: "\e908";
$icon-twitter: "\e900";
$icon-facebook: "\e905";
$icon-instagram: "\e901";
$icon-play: "\e912";
$icon-close: "\e910";
$icon-caret-down: "\e917";
$icon-caret-left: "\e918";
$icon-caret-right: "\e919";
$icon-caret-up: "\e91a";
$icon-edit: "\e91f";
$icon-mmgy: "\e90b";
$icon-mmgy-inverse: "\e920";
$icon-mmgyglobal: "\e90e";
$icon-dkshifflet: "\e904";
$icon-njf: "\e902";
$icon-hills-balfour: "\e90f";
$icon-myriad: "\e913";
$icon-grifco: "\e91b";
$icon-ophir: "\e91e";
$icon-email: "\e911";
$icon-arrow-up: "\e92a";
$icon-arrow-down: "\e92b";
$icon-arrow-left: "\e907";
$icon-arrow-right: "\e906";
$icon-circle-empty: "\e909";
$icon-circle-full: "\e90a";
$icon-minus: "\e90c";
$icon-plus: "\e90d";
$icon-chevron-up: "\e91c";
$icon-chevron-right: "\e91d";
$icon-chevron-left: "\e923";
$icon-chevron-down: "\e924";
$icon-browser: "\e914";
$icon-home: "\e915";
$icon-linkedin: "\e903";

