$icomoon-font-family: "iconfont-govt" !default;
$icomoon-font-path: "fonts" !default;

$icon-twitter: "\e900";
$icon-facebook: "\e905";
$icon-email: "\e911";
$icon-linkedin: "\e903";
$icon-close: "\e910";

