/*------------------*/
/* Container
/*------------------*/

.container {
	@include container();
	flex-direction: column;
	align-items: center;

	h1 {
		@include font-headline();
		text-align: center;
	}
	h2 {
		@include font-response();
		text-align: center;

		&.response-yes {
			@include color(green);
		}
		&.response-no {
			@include color(red);
		}
	}

	.details {
		@include font-body(color(ultralight));
		margin-top: 20vh;
		text-align: center;
	}
}